name: mouse_mobile
description: A new Flutter project.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# Read more about versioning at semver.org.
version: 1.0.0+1

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^0.1.2
  flutter_svg: any
  transparent_image: ^0.1.0
  path_provider: ^0.4.1
  cached_network_image: any
  intl: ^0.15.7
  image_picker: ^0.4.10

dev_dependencies:
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  assets:
   - assets/images/start/start1_bg.png
   - assets/images/start/start2_bg.png
   - assets/images/start/start3_bg.png
   - assets/images/start/mouse_logo.png
   - assets/images/start/google_logo.png
   - assets/images/start/vk_logo.png
   - assets/images/start/twitter_logo.png
   - assets/images/start/fb_logo.png
   - assets/images/start/login_bg.png
   - assets/images/start/signup_bg.png
   - assets/images/start/mouse_pic.png
   - assets/images/start/forgot_bg.png

   - assets/images/main/tickets_tab_icon.svg
   - assets/images/main/feed_tab_icon.svg
   - assets/images/main/shows_tab_icon.svg
   - assets/images/main/campaigns_tab_icon.svg
   - assets/images/main/profile_tab_icon.svg
   - assets/images/main/filters_icon.svg
   - assets/images/main/pin.png
   - assets/images/main/blured_rect.png

   - assets/images/main/shows/play_button.png

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.io/custom-fonts/#from-packages
